@font-face {
    font-family: 'Winterlady';
    src: url('Fonts/Winterlady.ttf');  }
@font-face {
    font-family: 'Babilon';
    src: url('Fonts/Babillon.ttf');   }


*
{
    box-sizing: border-box;
}
html{
    position:relative;
    min-height: 100%;
}
body {
    height: 100%;
    font-family: Arial;
    padding: 10px;
    color:#ececec;
    background: #333333;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    

}
img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 140, 186, 0.9);
}

/* Header/Blog Title */
.header {
    padding: 100px;
    text-align: center;
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url('Img/Background1.jpg');
}


.header h1 {
    font-family: "Times New Roman";
    font-size: 50px;
}
.header h2 {
    font-family: Winterlady;
    font-size: 50px;
}
.card h5{
    text-align: center;

}


table.center {
    margin-left: auto;
    margin-right: auto;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    font-family: Babilon;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 30px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.selfimage {
    width: 100%;
    height: auto;
}
/* Add a card effect for articles */
.card {
    background-color: #30475e;
    padding: 20px;
    margin-top: 20px;
}
.card h1,h2,h3{
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
     padding: 20px;
     text-align: center;
     background: #ddd;
     margin-top: 20px;
 }


/* Footer */

.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    width: 100%;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    margin-top: 0;
    background: #6adcfa;
    border-radius: 3px;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
